
* {
  box-sizing: border-box;
}

body {
  font-family: Garamond, serif;

}
/* CSS */
header {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  color: rgb(76, 93, 82);  
  margin-left: 50px;
  margin-right: 50px;
  z-index: 1;
  border-radius: 10px 10px 0px 0px;
}

header h1{
  font-family: "Brush Script MT", cursive;
  margin-left: -150px;
}

header h1:hover {
  color: rgb(104, 127, 112);
}
/*Navigation CSS */

nav {
  display: inline-flex;
  position: relative;
  float: right; 
  width: 300px;
  margin-right: -200px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-end;

}

nav a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  border-top: 5px solid #ffffff;
  padding: 3px 15px 3px 15px; 
  background: rgb(33, 70, 40);
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Garamond, serif;
  font-size: small;
 
}

nav a:hover { 
  background-color: #55655c;
  border-top: 5px solid #c2cbc3;
}

/* Learn more about me CSS */
.hero-banner{
  display: inline-flex;
  position: relative;
  flex-direction: row-reverse;
  padding: 1px 550px 5px;
  margin-left: 4%; 
  margin-right: 4%;
  background-color: rgb(33, 70, 40);
  font-family: Garamond, serif;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;

}

.hero-banner h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: Garamond, serif;
  margin: auto auto auto auto;
  font-style: italic;
  
}
.hero-banner img {
  display: inline-flex;
  position: relative;
  float: left;
  height: 75px;
  width: 60px;
  margin-left: -300px;
  background-color: #55655c;
  border-right: 10px solid #55655c;
}

/* Content CSS */
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  color: rgb(27, 70, 50);
  margin: 80px;
  margin-top: 0;
}

#about-me {
  font-size: small;
  color: rgb(76, 93, 82); 
  background-color: antiquewhite;
  border-right: 8px solid rgb(33, 70, 40);
  border-radius: 10px;
  margin: 30px 0% 30px;
  margin-left: -30px;
}

#about-me:hover {
  border-right: 8px solid rgb(33, 70, 40, 0.5);
}

#work {
  font-size: small;
  color: rgb(76, 93, 82);  
  background-color: antiquewhite;
  padding: 5px;
  border-right: 8px solid rgb(33, 70, 40);
  margin: 1% 0% 30px;
  margin-left: -30px;
  border-radius: 10px;
}

#work:hover {
  border-right: 8px solid rgb(33, 70, 40, 0.5);
}


#work h2 {
  color: rgb(76, 93, 82); ;
}


#contact {
  font-size: small;
  color: rgb(76, 93, 82); 
  background-color: antiquewhite;
  padding: 5px;
  border-right: 8px solid rgb(33, 70, 40);
  border-radius: 10px;
  margin: 1% 0% 30px;
  margin-left: -30px;
}

#contact:hover {
  border-right: 8px solid rgb(33, 70, 40, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}

p {
  margin: 10px;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  grid-auto-rows: 200px;
}

.wrapper p {
  background-color: rgb(255, 255, 255, 0.3);
  height: auto;
}

#Figma
{
  font-size: 30px;
  font-weight: 600;
  background-image: url(/starter/Portfolio/images/figma.png);
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 50%;
  align-self: stretch;
}

#HTML
{
  font-size: 30px;
  font-weight: 600;
  background-image: url(/starter/Portfolio/images/screenshot-html.png);
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  align-self: stretch;
}

#CSS
{
  font-size: 30px;
  font-weight: 600;
  background-image: url(/starter/Portfolio/images/screenshot-css.png);
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  align-self: stretch;
}

#Excalidraw
{
  font-size: 30px;
  font-weight: 600;
  background-image: url(/starter/Portfolio/images/excalidraw.png);
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  align-self: stretch;
}

footer {
  margin: 5%;
  color: rgb(27, 70, 50);
}